@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
@font-face {
  font-family: "Akrobat-Regular";
  src: url("../fonts/Akrobat/Akrobat/Commercial/OTF/Akrobat-Regular.otf");
}

@font-face {
  font-family: "Gill-Sans";
  src: url("../fonts/Gill-Sans-Font-Family/Gill Sans.otf");
}
* {
  scroll-behavior: smooth;
}
/* @font-face {
  font-family: "Akrobat-SemiBold";
  src: url("../fonts/Akrobat/Akrobat/Commercial/OTF/Akrobat-SemiBold.otf");
}

@font-face {
  font-family: "Akrobat-Bold";
  src: url("../fonts/Akrobat/Akrobat/Commercial/OTF/Akrobat-Bold.otf");
} */

.gradient-tb-black {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.8785889355742297) 70%,
    rgba(0, 0, 0, 0.8029586834733894) 80%,
    rgba(0, 0, 0, 0.5088410364145659) 90%,
    rgba(0, 0, 0, 0) 100%
  );
}

/* .gradient-radial-blue {
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.18951330532212884) 0%,
    rgba(0, 0, 20, 1) 74%,
    rgba(0, 1, 33, 1) 91%,
    rgba(0, 0, 0, 0.9514180672268907) 100%
  );
} */

/* .boxshadow-blur {
  box-shadow: 10px 10px 50px 80px rgba(0, 0, 0, 0.767) inset,
    -10px -10px 50px 80px rgba(0, 0, 0, 0.767) inset;
} */

.boxshadow-blur {
  box-shadow: 5px 5px 20px 30px rgba(0, 0, 0, 0.767) inset,
    -5px -5px 20px 30px rgba(0, 0, 0, 0.767) inset;
}

.fade-in-out {
  animation: fade 1s ease-in;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.boxshadow-blur-md {
  box-shadow: 5px 5px 20px 30px rgba(0, 0, 0, 0.767) inset,
    -5px -5px 20px 30px rgba(0, 0, 0, 0.767) inset;
}

.box-shadow-1 {
  box-shadow: -29px 29px 0px 8px rgba(255, 0, 0, 1);
  -webkit-box-shadow: -29px 29px 0px 8px rgba(255, 0, 0, 1);
  -moz-box-shadow: -29px 29px 0px 8px rgba(255, 0, 0, 1);
}

.clip-polygon-1 {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

@media only screen and (min-width: 640px) {
  .clip-polygon-1 {
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

.clip-solution {
  clip-path: path(
    "M62.3145 184.646C46.5138 194.796 27.8053 212.194 15.2453 224.619C10.0731 229.735 1 226.094 1 218.818V9C1 4.58172 4.58171 1 8.99999 1H269.994C274.412 1 277.994 4.58173 277.994 9.00001V57.8155C277.994 59.4862 277.498 61.0778 276.508 62.4236C268.582 73.1988 230.388 123.845 196.96 145.857C150.205 176.646 109.365 154.422 62.3145 184.646Z"
  );
}

.vertival-rl {
  writing-mode: vertical-rl;
}

.customOverlay {
  /* background: rgba(36, 123, 160, 0.7); */
  animation-fill-mode: forwards !important;
}
.customModal {
  /* background: rgb(5 16 54); */

  border: 1px solid #0074e5;
  background: rgba(2, 16, 71, 0.52);

  backdrop-filter: blur(6px);

  animation-fill-mode: forwards !important;

  opacity: 0.8 !important;

  color: white;
  width: 100wh;
  overflow: hidden;
  border-radius: 4px;
}
.react-responsive-modal-modal {
  max-width: 1000px !important;
}

.react-responsive-modal-closeButton {
  position: absolute;
  top: 14px;
  right: 14px;
  border: transparent !important;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  display: flex;
}
.react-responsive-modal-overlay,
.react-responsive-modal-container,
.react-responsive-modal-modal {
  animation-fill-mode: forwards !important;
}
svg {
  margin: 1rem;
  border: none;
}
path {
  fill: white;
  margin: 5px;
}

.line {
  /* border: 1px solid rgba(255, 255, 255, 0.25); */
  background-color: rgba(255, 255, 255, 0.25);
}
.clip-circle {
  /* -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%); */

  background: url("https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cHJvZmlsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
}
.cust-grad {
  background: linear-gradient(270deg, #1ecaff 0%, rgba(27, 43, 105, 0) 101.41%);
}
.cust-grad2 {
  background: linear-gradient(270deg, #1ecaff 0%, rgba(27, 43, 105, 0) 101.41%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

@media (min-width: 300px) {
  .customOverlay {
    animation-fill-mode: forwards !important;
  }
  .customModal {
    border: 1px solid #0074e5;
    background: rgba(2, 16, 71, 0.52);

    backdrop-filter: blur(6px);

    animation-fill-mode: forwards !important;

    opacity: 0.8 !important;

    color: white;
    width: 100wh;
    overflow: hidden;
    border-radius: 4px;
  }
}
@media (min-width: 481px) {
  .customOverlay {
    animation-fill-mode: forwards !important;
  }
  .customModal {
    border: 2px solid #0074e5;
    background: rgba(2, 16, 71, 0.52);
    backdrop-filter: blur(6px);

    animation-fill-mode: forwards !important;

    opacity: 0.8 !important;

    color: white;
    width: 100wh;
    overflow: hidden;
    border-radius: 4px;
  }
}
@media (min-width: 641px) {
  .customOverlay {
    animation-fill-mode: forwards !important;
  }
  .customModal {
    border: 2px solid #0074e5;
    background: rgba(2, 16, 71, 0.52);
    backdrop-filter: blur(6px);

    animation-fill-mode: forwards !important;

    opacity: 0.8 !important;

    color: white;
    width: 100wh;
    overflow: hidden;
    border-radius: 4px;
  }
}

@media (min-width: 961px) {
  .customOverlay {
    animation-fill-mode: forwards !important;
  }
  .customModal {
    border: 2px solid #0074e5;
    background: rgba(2, 16, 71, 0.52);
    /* border: 2px solid rgba(0, 116, 229, 0.5); */
    backdrop-filter: blur(6px);

    animation-fill-mode: forwards !important;

    opacity: 0.8 !important;

    color: white;
    width: 100wh;
    overflow: hidden;
    border-radius: 4px;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .dashline {
    /* border: 1px solid white; */
    margin: 5px 0;
    height: 2px;

    background: repeating-linear-gradient(
      to right,
      transparent,
      transparent 10px,
      #0074e5 10px,
      #0074e5 20px
    );
    /*10px transparent then 10px black -> repeat this!*/
  }
}
